# Env variables
.env

# Node, vendor & composer junk
/vendor/
/node_modules/
composer.lock

# System files
.DS_Store
Thumbs.db
*.log

# VSCode და IDE
.vscode/
.idea/

# Cache და ტესტის ფაილები
*.cache
*.tmp

# PHPStorm და სხვა IDE-specific junk
*.iml
*.sublime-project
*.sublime-workspace
